footer.text-muted
  .container
    p.float-right
      a(href="#") Back to top
    p Postgres profiler extends Pandas Profiling: see more here: #[a(href="https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/") Pandas profiler]