section.jumbotron.text-center
    .container
        h1 Postgres profiler
        p.lead.text-muted  This application allows you to profile a postgres table and view quantile statistics, descriptive statistics, histograms, correlations, missing values, duplicates etc. for each column.