mixin missingCard(missings, convertSVG)
    each missing in missings
        .col-md-12
            .bs-component
                - var bimg = convertSVG(missing.result.matrix)
                img.img-fluid(src=bimg)
                p(style="text-align:center;") #{missing.result.caption}